body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 90px;
    font-size: 16px;
}

article {
    width: 655px;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
}

a.underline:after {
  content: '';
  display: block;
  position: absolute;
  background: #ffaa65;
  height: 20%;
  width: 0%;
  z-index: -1;
  transition: width 0.5s;
  border-radius: 100px;
  opacity: 0;
  box-shadow: 0 0 16px rgba(42,157,143,0);
}
a.underline:hover {
  color: #4e4e4e;
}

a.underline:hover:after {
  width: 100%;
  opacity: 1;
}

i {
    color: #c54f00;
}

.header_title {
    display: inline;
    margin-bottom: 3px;
    font-size: 36px;
}

.header_img {
    margin: 0;
}

.image {
    width: 330px;
}

.footer_title {
    margin-bottom: 0;
}

.footer_text {
    margin-top: 3px;
    margin-bottom: 3px;
}

.footer_list {
    margin-top: 0;
}
